<nav class="navbar navbar-expand-lg navbar-dark bg-light col-md-12">
  <div class="col-md-6">
    <button type="button" navdrpbtn="maindropdown" class="text-secondary btn ">
      <span class="mainheadName">
        &nbsp;Role
      </span>
    </button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary pull-right mainheadbtn" *ngIf="setOption == 'Grid'" (click)="changeMenu('Add')"
      title="For add new Role">
      <fa name="plus"></fa>&nbsp;Add Role
    </button>
    <div class="pull-right" *ngIf="setOption == 'Add'">
      <button [disabled]="loading" *ngIf="canSave" class="btn btn-primary btn-grey" (click)="onSubmit();">
        <fa name="save"></fa>
      </button>&nbsp;
      <button class="btn btn-primary btn-grey" (click)="changeMenu('Grid')">
        <fa name="trash"></fa>
      </button>&nbsp;
      <button class="btn btn-primary btn-grey" (click)="exportAsXLSX()">
        <fa name="file-excel-o"></fa>
      </button>&nbsp;
      <button class="btn btn-primary btn-grey" (click)="printAsPdf()">
        <fa name="print"></fa>
      </button>
    </div>
  </div>
</nav>
<div class="main-content" *ngIf="setOption == 'Grid'" (click)="changeMenu('Grid')">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <app-table-app [customDatatableobj]="datatable" (customDelete)="fnDelete($event)"
              (customEdit)="fnEdit($event)"></app-table-app>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content" *ngIf="setOption == 'Add'">
  <div class="card">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
                  <alert></alert>
                  <div class="form-group">
                    <label for="roleName">Role Name</label>
                    <input type="hidden" name="id" formControlName="id" />
                    <input type="text" formControlName="roleName" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.roleName.errors }" />
                    <div *ngIf="submitted && f.roleName.errors" class="invalid-feedback">
                      <div *ngIf="f.roleName.errors.required">Role Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="roleDescription">Role Description</label>
                    <input type="text" formControlName="roleDescription" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.roleDescription.errors }" />
                    <div *ngIf="submitted && f.roleDescription.errors" class="invalid-feedback">
                      <div *ngIf="f.roleDescription.errors.required">Role Description is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <img *ngIf="loading" class="pl-3"
                      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>