<div #myContent class="main-content">
  <div class="card">
    <div class="card-header">
      Welcome to Dashboard
    </div>
    <div class="card-body row">
      <div class="col-md-6">
        <div class="card-title">
          <span style="font-size: large;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Inherent
            Matrix</span>
        </div>
        <div class="row">
          <div id="i5" class="divstyle bg-green">
          </div>
          <div id="i10" class="divstyle bg-yellow">
          </div>
          <div id="i15" class="divstyle bg-red">
          </div>
          <div id="i20" class="divstyle bg-red">
          </div>
          <div id="i25" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="i4" class="divstyle bg-green">
          </div>
          <div id="i8" class="divstyle bg-yellow">
          </div>
          <div id="i12" class="divstyle bg-yellow">
          </div>
          <div id="i16" class="divstyle bg-red">
          </div>
          <div id="i20" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="i3" class="divstyle bg-green">
          </div>
          <div id="i6" class="divstyle bg-yellow">
          </div>
          <div id="i9" class="divstyle bg-yellow">
          </div>
          <div id="i12" class="divstyle bg-yellow">
          </div>
          <div id="i15" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="i2" class="divstyle bg-green">
          </div>
          <div id="i4" class="divstyle bg-green">
          </div>
          <div id="i6" class="divstyle bg-green">
          </div>
          <div id="i8" class="divstyle bg-yellow">
          </div>
          <div id="i10" class="divstyle bg-yellow">
          </div>
        </div>
        <div class="row">
          <div id="i1" class="divstyle bg-green">
          </div>
          <div id="i2" class="divstyle bg-green">
          </div>
          <div id="i3" class="divstyle bg-green">
          </div>
          <div id="i4" class="divstyle bg-green">
          </div>
          <div id="i5" class="divstyle bg-green">
          </div>
        </div>
      </div>
      <div class="col-md-6 div-padding">

        <div class="row card-title">
          <span style="font-size: large;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Residual
            Matrix</span>
        </div>
        <div class="row">
          <div id="r5" class="divstyle bg-green">
          </div>
          <div id="r10" class="divstyle bg-yellow">
          </div>
          <div id="r15" class="divstyle bg-red">
          </div>
          <div id="r20" class="divstyle bg-red">
          </div>
          <div id="r25" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="r4" class="divstyle bg-green">
          </div>
          <div id="r8" class="divstyle bg-yellow">
          </div>
          <div id="r12" class="divstyle bg-yellow">
          </div>
          <div id="r16" class="divstyle bg-red">
          </div>
          <div id="r20" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="r3" class="divstyle bg-green">
          </div>
          <div id="r6" class="divstyle bg-yellow">
          </div>
          <div id="r9" class="divstyle bg-yellow">
          </div>
          <div id="r12" class="divstyle bg-yellow">
          </div>
          <div id="r15" class="divstyle bg-red">
          </div>
        </div>
        <div class="row">
          <div id="r2" class="divstyle bg-green">
          </div>
          <div id="r4" class="divstyle bg-green">
          </div>
          <div id="r6" class="divstyle bg-green">
          </div>
          <div id="r8" class="divstyle bg-yellow">
          </div>
          <div id="r10" class="divstyle bg-yellow">
          </div>
        </div>
        <div class="row">
          <div id="r1" class="divstyle bg-green">
          </div>
          <div id="r2" class="divstyle bg-green">
          </div>
          <div id="r3" class="divstyle bg-green">
          </div>
          <div id="r4" class="divstyle bg-green">
          </div>
          <div id="r5" class="divstyle bg-green">
          </div>
        </div>

      </div>
    </div>
    <br>
  </div>
</div>